{
  "extends": "eslint:recommended",
  "parserOptions": { "sourceType": "module" },
  "env": {
    "es2020": true,
    "node": true,
    "mocha": true,
    "mongo": true
  },
  "rules": {
    "no-console": "warn",
    "camelcase": "warn",
    "new-cap": "off",
    "linebreak-style": "off"
  }
}
